.motivational-reminder {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    color: var(--bordo-color);
    padding: 22px;
    border-radius: 12px;
    max-width: 400px;
    font-size: 23px;
    z-index: 1;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-out;
  }
  
  .motivational-reminder strong {
    margin-bottom: 8px;
    font-size: 23px;
    color: #d9534f;
  }
  
  .motivational-reminder ul {
    padding-left: 15px;
    margin: 7px;
  }
  
  .motivational-reminder hr {
    margin: 15px auto;
    border: none;
    border-top: 1px solid var(--bordo-color);
    width: 100%;
  }

  .motivational-reminder p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
  }  

  .close-reminder {
    position: absolute;
    top: 5px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: var(--bordo-color);
    cursor: pointer;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
  }